<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Information</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user.css' %}">
</head>
<body>
    <div id="container">
        <div id="image">
            <img src="{% static 'Pizza.png' %}" alt="">
        </div>
        <div id="nav">
            <a href="/menu">Home</a>
            <a href="/user/{{user.id}}">Account</a>
            <a href="/logout">Logout</a>
        </div>
        <div id="titles">
            <h1>{{ user.first_name }}'s Account Info</h1>
        </div>
        <div id="main">
            <div id="main_section">
                <div id="edit_user">
                    <h3>{{ user.first_name }}'s Contact Info:</h3>
                    <form action="/edit/{{user.id}}" method="POST">
                        {% csrf_token %}
                        <div class="line">
                            <label for="">First Name</label>
                            <input type="text" name="first_name" value="{{user.first_name}}">
                        </div>
                        <div class="line">
                            <label for="">Last Name</label>
                            <input type="text" name="last_name" value="{{user.last_name}}">
                        </div>
                        <div class="line">
                            <label for="">Email Address</label>
                            <input type="text" name="email" value="{{user.email}}">
                        </div>
                        <div class="line">
                            <label for="">Address</label>
                            <input type="text" name="address" value="{{user.address}}">
                        </div>
                        <div class="line">
                            <label for="">City</label>
                            <input type="text" name="city" value="{{user.city}}">
                        </div>
                        <div class="line">
                            <label for="">State</label>
                            <input type="text" name="state" value="{{user.state}}">
                        </div>
                        <div class="line">
                            <button type="submit">Update Information</button>
                        </div>
                        <div id="error_messages">
                            {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li style="color: red;">{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div id="past_orders">
                    <h3>{{ user.first_name }}'s Last 3 Orders:</h3>
                    <div class="pizza">
                        {% for pizzas in pizza %}
                            <p>Last Ordered: {{ pizzas.created_at }} <a href="/favorite/{{ pizzas.id }}">Favorite</a></p>
                            <p>{{ pizzas.size }} - {{ pizzas.crust }} Crust</p>
                            <div class="topping">
                                {% for topping in pizzas.toppings.all %}
                                <h5>{{ topping.name }} &nbsp;</h5>
                                {% endfor %}
                            </div>
                            <hr>
                            <br>
                        {% endfor %}
                    </div>
                </div>
                <div id="faves">
                    <h3>{{ user.first_name }}'s Favorites:</h3>
                    {% for pizzas in user.liked_pizzas.all %}
                    <div class="pizza">
                        <p>{{ pizzas.size }} - {{ pizzas.crust }} | <a href="/unfavorite/{{ pizzas.id }}">Unfavorite</a></p>
                        <div class="topping">
                            {% for topping in pizzas.toppings.all %}
                            <h5>{{ topping.name }} &nbsp;</h5>
                            {% endfor %}
                        </div>
                        <hr>
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>