* { 
    padding: 0;
    margin: 0;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 6em auto 0px auto;
    height: 80%;
    background-image: linear-gradient(to bottom right, red, yellow);
    padding: 2em;
    border: 4px solid black;
    border-radius: 20px;
}
#main{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}
#edit_user, #past_orders, #faves {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: .5em;
    border: 2px solid black;
    border-radius: 15px;
    background-image: linear-gradient(to bottom left, #2b8bb3, #777dcb);
    justify-content: flex-start;
    align-items: center;
}
.line {
    display: flex;
    justify-content: space-between;
    margin-bottom: .2em;
}
form {
    display: flex;
    flex-direction: column;
}
img {
    width: 415px;
    margin-bottom: 1em;
    border: 2px black solid;
}
button {
    margin-top: 2em;
    box-shadow: 1px 1px 1px black;
    width: 100%;
}
.column{
    display: flex;
    justify-content: space-between;
}
#main_section {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
h3 {
    margin-bottom: 1em;
}
h1 {
    margin: 2em 0 1em 0;
}
.pizza {
    margin: .5em 0 .5em 0;
}
p {
    width: 322px;
}
.topping {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#nav > a {
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    color: white;
    text-decoration: none;
    padding: .25em .5em .25em .5em;
    background-color: darkgrey;
}
h5 {
    font-weight: normal;
}
.pizza > a {
    text-align: right;
}
